@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}


body{
  background-color: #fffbf7;
  font-family: "Smooch Sans";
}


body.nav-non-active{
  background-color: black; /* Dark transparent overlay */
    opacity: 0.2;
    overflow: hidden; /* Prevent scrolling when menu is open */
}
